//////////////////////////////
// HEADER
.initials {
  font-size: 3rem;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.nav-items {
  list-style: none;
  font-size: 2.5rem;

  display: flex;

  li {
    padding-left: 2rem;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
}
