.nav {
  min-height: 5vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: fixed;
  transition-timing-function: ease-in;
  transition: 0.5s;

  &-header {
    color: #1adcad;
    display: flex;
  }

  &-items {
    display: flex;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 20px;
      color: white;
    }

    li {
      padding-left: 2rem;
    }
  }
}
